body {
    font-family: Arial, sans-serif;
    background-color: #f9ca24;
    margin: 0;
    padding: 0;
}

.spreadsheet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spreadsheet {
    width: 80%;
    border-collapse: collapse;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.spreadsheet th,
.spreadsheet td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.spreadsheet th {
    background-color: #ffcc00;
}

.spreadsheet tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.spreadsheet tbody tr:hover {
    background-color: #ffeaa7;
}
.status-button {
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
}

.status-button.good {
    background-color: #27ae60; /* Green */
    color: #fff;
}

.status-button.slow {
    background-color: #f39c12; /* Yellow */
    color: #fff;
}

.status-button.bad {
    background-color: #e74c3c; /* Red */
    color: #fff;
}

.status-button:hover {
    opacity: 0.8;
}

.status-button[data-description]::after {
    content: attr(data-description);
    display: block;
    font-size: 12px;
    margin-top: 5px;
}
